<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1> UpperCase Pipe</h1>
    <b>{{title | uppercase}} </b>
    
    <h1>Lowercase Pipe</h1>
    <b>{{title | lowercase}}</b>

    <h1>Currency Pipe</h1>
  <b>{{123.45 | currency:"USD"}}</b> <br/>
  <b>{{123.45 | currency:"USD":true}}</b>

  <h1>Date pipe</h1>
      <b>{{todaydate | date:'d/M/y'}}</b><br/>
      <b>{{todaydate | date:'shortTime'}}</b>

      <h1>Decimal Pipe</h1>
      <b>{{ 123.123456789 | number:'3.4-4' }}</b>

      <div style = "width:40%;float:left;border:solid 1px black;">
          <h1>Json Pipe</h1>
          <b>{{ jsonval | json }}</b>
          <h1>Percent Pipe</h1>
          <b>{{00.54565 | percent}}</b>
          <h1>Slice Pipe</h1>
          <b>{{months | slice:2:6}}</b> 
          // here 2 and 6 refers to the start and the end index
       </div>

  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<app-new-cmp></app-new-cmp>
<div style="text-align:center">
  <span ChangeText> Welcome to {{title}}</span>
</div>
<div>
Months :
<select (change)="changeMonths($event)">
  <option *ngFor="let i of months">{{i}}</option>
</select>
</div>

<div>
  <span *ngIf="isavailable;then condition2 else condition1">Condition is Valid..!!</span>
  <ng-template #condition1>Condition is invalid...</ng-template>
  <ng-template #condition2>Conditon is Valid...</ng-template>
</div>

<button (click)="myClickFunction($event)">Click Me..!!</button>

<router-outlet></router-outlet>
